Releases/
build/
Debug/
x64/
CurveLib.dir/
*.vcxproj
*.vcxproj.filters
CMakeFiles/
*.lnk
.github
.vs
.vsconfig
Examples/UnrealCurveDemo/Plugins/KurveballPlugin/Source/KurveballPluginRuntime/Private/
Examples/UnrealCurveDemo/Plugins/KurveballPlugin/Source/KurveballPluginRuntime/Public/